body{
    background: linear-gradient(90deg,#111C2D,#273D64) ;
    background-repeat: repeat;
    color: #FAF3F3;
    font-size: 1.3rem;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
footer{
    display: flex;
    justify-content: center;
}
.center{
    position: absolute;
    bottom: 0;
    text-align: center;
}
button{
    height: 40px;
    border-radius: 10px;
    font-size: 1.2rem;
}
button:hover{
    cursor: pointer;
    background-color: rgb(27, 62, 124)
}
img{
    width: 20%;
}