* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #273D64;
	--primary-color-dark: #111C2D;
	--accent-color: rgb(145, 107, 26);

	width: 100vw; 
	overflow-x: hidden;
	font-size: 100%;
	font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
	width: 100vw;
	overflow-x: hidden;
	background-repeat: repeat;
	color: var(--primary-color-dark);
}

h1 {
	line-height: 1.2em;
}

/*BUTTON STYLES*/
.button { /*Button class*/
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.07em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px 20px;
  border: none;
  border-radius:  1000px;
  background-color: var(--accent-color);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
	cursor: pointer;
	transition: all .5s ease;
}

.button:hover, .button:focus {
	background-color: var(--primary-color-dark);
	outline: none;
}

.button:active {
	transition: none;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
}

.button.is-disabled {
	opacity: 0.5;
}

.vertical-divider {
	width: 1px;
	height: 80%;
	border-color: var(--primary-color-dark);
	opacity: 0.5;
}
/*END BUTTON STYLES*/
