@import url("../globals.css");

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	background-image: linear-gradient(to bottom, #21314c,  #111c2d, #21314c);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header{
    margin: 0%;
    padding: 0%;
    background-image: url(" ");
    height: 245px;
}

.heading{
    text-transform: uppercase;
    position: relative;
    left: 5%;
    top: 10%;
}

.second-heading{
    position: relative;
    left: 45%;
    right: 45%;
    font-size: 2rem;
}

.span{
    position: relative;
    left: 9%;
    font-size: 1.3rem;
    line-height: 28px;
}

.period {
    position: relative;
    left: 60%;
    background: #1C2F56;
    border-radius: 5px;
		padding: 0.5%;
		color: inherit;
}

a {
	text-decoration: none;
	color: white;
}

.smiley {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
}

.smiley > p {
    font-size: 5rem;
    font-weight: normal;
    margin-block-end: 0%;
    margin-block-start: 0%;
}

.smiley > h3 {
    font-weight: normal;
}

table td {
	padding: 40px 0 10px 40px;
	font-style: italic;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 42px;
}

.button {
    margin: 40px 0 20px 120px;
    font-style: italic;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

 /* boilerplate code */
.frame {
	height: 90vh;
	border: 20px solid black;
	background-color: black;
	border-bottom-width: 40px;
	border-radius: 20px;
	max-width: 900px;
}

nav {
	background-color: #1C2F56;
	height: 20vh;
	width: 100%;
	margin: 0 auto;
	position: relative;
	border-radius: 10px 10px 0 0;
}

main {
	background-color: #33486E;
	height: 63vh;
	width: 100%;
	border-radius: 0 0 10px 10px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.center__button {
	width: 4vw;
	height: 2vh;
	position: relative;
	background-color: #111C2D;
	border-radius: 50%;
	margin: 0 auto;
	top: 1.5vh;
	max-width: 35px;
}

/*Colour shades that complement
#1C2F56
#33486E
#111C2D
#1C2F55
#33486E
#668AD2
#5474B4
#415B8B*/