body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    background-image: url(/home/yusuf/Documents/HNG/team-apollo-finance-tracker/web/images/background-rectangle.png);
    color: white;
}
.header{
    margin: 0%;
    padding: 0%;
    background-image: url(/home/yusuf/Documents/HNG/team-apollo-finance-tracker/web/images/header-vector.png);
    height: 245px;
}
.heading{
    text-transform: uppercase;
    position: relative;
    left: 5%;
    top: 10%;
}
.second-heading{
    position: relative;
    left: 45%;
    right: 45%;
    font-size: 2rem;
}
.span{
    position: relative;
    left: 9%;
    font-size: 1.3rem;
    line-height: 28px;
}
.period{
    position: relative;
    left: 60%;
    background: #1C2F56;
    color: white;
    border-radius: 5px;
    padding: 0.5%;
}
a{
    text-decoration: underline;
    color: white;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.smiley{
    width: 50%;
}
.smiley > p {
    font-size: 5rem;
    font-weight: normal;
    margin-block-end: 0%;
    margin-block-start: 0%;
}

.smiley > h3 {
    font-weight: normal;
}

 table td {
    padding: 40px 0 10px 40px;
    color: #fff;
    font-style: italic;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 42px;}

.button {
    margin: 40px 0 20px 120px;
    padding: 10px;
    font-style: italic;
    border: none;
    border-radius: 3px;
}
button:hover{
    cursor: pointer;
    background: #1C2F56;
    color: white;
}
 /* boilerplate code */
.frame {
	width: 90%;
	height: 90vh;
	background-color: #000;
    position: absolute;
    margin: 0 auto;
    top: 4vh;
    left: 20%;
	border-radius: 2em;
    max-width: 900px;
}

nav {
	background-color: #1C2F56;
	height: 20vh;
	width: 96%;
	margin: 0 auto;
	position: relative;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}

main {
	background-color: #33486E;
	height: 63vh;
	width: 96%;
	margin: 0 auto;
	position: relative;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

.center__button {
	width: 4vw;
	height: 2vh;
	position: relative;
	background-color: #111C2D;
	border-radius: 50%;
	margin: 0 auto;
	top: 1.5vh;
	max-width: 35px;
}
.footer{
    position: absolute;
    width: 100%;
    height: 400px;
    left: -9px;
    bottom: 0;
    padding: 0%;
    margin: 0%;
    background-image: url(/home/yusuf/Documents/HNG/team-apollo-finance-tracker/web/images/footer-vector.png);
    background-size: cover;
}

/*Colour shades that complement
#1C2F56
#33486E
#111C2D
#1C2F55
#33486E
#668AD2
#5474B4
#415B8B*/