.page-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	color: white;
}